*{
    padding: 0px;
    margin: 0px;
}
body{background-color:rgb(108, 1, 113);}
h1{
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
}
h3{
    margin: 8px;
}
.con{
    margin-top:1rem ;
    border-top: 3px solid grey;
    box-shadow: -0px -3px 5px rgb(106, 1, 106);
    background-color: white;
}
.box{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: all 1s;
}
.box:hover{
    transform: translateX(30px);
}
#box1{background-color: rgba(139, 0, 139, 100%);}
#box2{background-color: rgba(139, 0, 139, 88.9%);}
#box3{background-color: rgba(139, 0, 139, 77.8%);}
#box4{background-color: rgba(139, 0, 139, 66.7%);}
#box5{background-color: rgba(139, 0, 139, 55.6%);}
#box6{background-color: rgba(139, 0, 139, 44.5%);}
#box7{background-color: rgba(139, 0, 139, 33.4%);}
#box8{background-color: rgba(139, 0, 139, 22.3%);}
#box9{background-color: rgba(139, 0, 139, 11.2%);}